
body{
    width: 100%;
}
div{
    display: inline-block;
    margin: auto;
    justify-content: center;
    text-align: center;
    
}

.box{
    background: red;
    color: white;
    width: 500px;
    height: 200px;  
    position: relative;
    margin: auto;
}